/* Шрифты https://www.cssfontstack.com/ */
/* Цвета https://www.rapidtables.com/web/css/css-color.html */
/* Символы https://htmlweb.ru/html/symbols.php */
/* Конвертировать в GIF https://cloudconvert.com/avi-to-gif */

body {
	background: #202020;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: #E0E0E0;
	max-width: 1000px;
	margin: 0 auto; /* появление отступов по краям при достижении max-width */
	padding: 0 15px 100px 15px; /* фиксированный сверху/справа/снизу/слева */
}

body.root {max-width: 360px;}
body.platform {max-width: 500px;}

ul {margin-left: -15px;}

ul.root, figure {
	margin: 0;
	padding: 0;
	border: 0;
}

li {margin-left: 13px;}

li.root {margin-left: 0px;}

ul.root {list-style: none;}

#w { /* для слайдера */
	display: block;
	max-width: 1000px;
	min-width: 300px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	color: dodgerblue;
}

h2 {
	color: limegreen;
	margin-top: 50px;
}


h3 {
	color: orangered;
	margin-top: 30px;
	margin-bottom: -5px;
}

h4 {
	color: mediumslateblue;
	margin-top: 20px;
	margin-bottom: -5px;
}

a:link, a:visited, a:hover, a:active {
	color:#63C0F5;
	text-shadow:0 0 5px rgba(104,182,255,0.5);
	text-decoration: underline; /*none*/
}



/* <text class="object">текст</text> */
text {font-weight: bold;}

text.object {color: orangered;}

text.opcode {color: cornflowerblue;}

text.address {color: limegreen;}

text.underline {border-bottom: solid 1px; font-weight: normal;}

p.tip {font-style: italic; color: cadetblue;}

div.debugger_code {
	font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	max-width: 100%;
	overflow: auto;
	display: block;
	padding: 10px;
	color: #808080;
	background: #000000;
	border: 5px #404040 solid;
}

div.debugger_string {white-space: pre;}

div.infobox {
	font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
	white-space: pre-line;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	max-width: 100%;
	overflow: auto;
	display: block;
	padding: 0px 10px 15px 15px;
	border: 1px darkolivegreen solid;
}



table {
	font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
	font-size: 15px;
	overflow: auto;
	display: inline-block;
}

table.root
{
	font-family: inherit;
	overflow: auto;
}

iframe, table, img {
	max-width: 100%;
	position: relative;
	border: 0px #000000 solid transparent;
	border-radius: 8px;
}

.content {
	font-size: 1.5em;
	border-left: 1px goldenrod solid;
	border-bottom: 1px goldenrod solid;
	font-weight: bold;
	color: goldenrod;
	padding-left: 5px;
	margin-top: 30px;
	margin-left: -5px;
	letter-spacing: 1.5px;
}



/* всплывающие подсказки при наведении курсора */
dfn {
	background: #F0F0F0;
	border-bottom: dashed 1px rgba(0,0,0,0.8);
	font-style: inherit;
	cursor: help;
	position: relative;
}

dfn::after {
	content: attr(data-info);
	display: inline-block;
	font-style: normal;
	position: absolute;
	top: 22px; left: 0;
	opacity: 0;
	line-height: 1.5em;
	padding: 0.5em 0.8em;
	background: rgba(0,0,0,0.8);
	color: #FFFFFF;
	pointer-events: none; /* This prevents the box from apearing when hovered. */
	transition: opacity 250ms, top 250ms;
}

/*
dfn::before {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 20px;
	opacity: 0;
	width: 0; height: 0;
	border: solid transparent 5px;
	border-bottom-color: rgba(0,0,0,0.8);
	transition: opacity 250ms, top 250ms;
}
*/

dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 30px;}
dfn:hover::before {top: 20px;}



/* https://www.w3schools.com/howto/howto_js_spoiler.asp */
/* альтернативный спойлер https://jsfiddle.net/tovic/bY6ty */
.spoiler {
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	color: khaki; /* цвет текста в названии спойлера */
	background-color: #383838; /* цвет фона закрытого спойлера */
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: 5px;
	border-radius: 10px;
	text-align: left;
	outline: none;
	transition: 0.2s; /*скорость изменения цвета при наведении курсора*/
}

.spoiler_active, .spoiler:hover {
	background-color: #505050; /* цвет фона открытого спойлера и при наведении курсора */
}

.spoiler:after {
	content: "\25BA \A0";
	color: gold; /* цвет стрелочки закрытого спойлера */
	font-weight: bold;
	float: left;
	margin-left: 5px;
}

.active:after {
	content: "\25BC \A0";
	color: limegreen; /* цвет стрелочки открытого спойлера */
}

.panel {
	/*padding: 0 18px;*/
	width: 100%;
	background-color: #202020;
	color: orange;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	font-style: italic;
}



/* Слайдер Glide.js */
/* https://www.templatemonster.com/blog/tutorial-implement-dynamic-animated-slider-using-glide-js/ */
.slider {
	position: relative;
	width: 100%;
	height: 280px;
	overflow: hidden;
}
	
.slides {
  height: 100%;
  overflow: hidden;
  /**	
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

   -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
	
.slide {
  height: 100%;
  float: left;
  clear: none;
}
.slide figure {
  display: block;
  position: relative;
  text-align: center;
}

.slider-nav {
  position: absolute;
  bottom: 0px; /* позиция индикаторов под слайдером */
}

.slider-nav__item { /* индикатор перемотки */
  width: 50px; /* ширина индикатора */
  height: 12px; /* высота индикатора */
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: salmon; /* цвет неактивного индикатора */
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

/* цвет индикатора при наведении курсора */
.slider-nav__item:hover { background: khaki; } 

/* цвет активного индикатора */
.slider-nav__item--current, .slider-nav__item--current:hover { background: palegreen; } 
