<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html">
<meta charset="UTF-8">
<meta name="description" content="Описание окна Hex Editor в эмулятора FCEUX">

<title>Hex Editor</title>

<link rel="icon" href="https://iromhacker.ru/favicon.png" type="image/png">
<link href="https://iromhacker.ru/style.css" rel="stylesheet">
<script src="https://iromhacker.ru/yandex.js"></script>
</head>

<body>

<h1>Hex Editor</h1>
<p>
<center><a href="https://iromhacker.ru/nes/ru/index.html">Вернуться на главную страницу</a></center>
</p>
<br>

<br>
<p class="title">Содержание</p>
<ul>
<li><a href="../index.html">Описание окна</a></li>
<li>Вкладка View</li>
<li>Возможности окна</li>
</ul>

<br>
<h2>Вкладка View</h2>

<p>
Можно переключиться на 4 разных режима.
</p>

<p>
<img src="000.png">
</p>

<h3>NES Memory</h3>

<p>
Здесь расположена память процессора. Включает в себя RAM, регистры, батарейку (при ее наличии) и память ROM'а, подгруженную из ROM File. Размер окна $0000-$FFFF.
</p>

<h3>PPU Memory</h3>

<p>
Здесь расположена память видеопроцессора. Включает в себя графику фона и спрайтов, атрибуты фона и палитру. Размер окна $0000-$3FFF.
</p>

<h3>OAM Memory</h3>

<p>
Здесь расположена память спрайтов. Включает в себя копию данных всех 64 спрайтов из NES Memory, обычно из адресов $0200-$02FF. Размер окна минимум $0000-$00FF, дальнейшее увеличение окна лишь отображает копию $0000-$00FF.
</p>

<h3>ROM File</h3>

<p>
Здесь расположены байты из ROM'а. ROM File является аналогией открытия ROM'а в любом другом Hex-редакторе. Включает в себя хедер, память PRG ROM и CHR ROM (при наличии). При отсутствии CHR ROM, последние 8 килобайт отображают копию $0000-$01FF из PPU Memory. Размер окна зависит от размера ROM'а и наличия CHR.
</p>

<br>
<br>
<br>

<script src="https://iromhacker.ru/spoiler.js"></script>

</body>

</html>